.App {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .Menu {
    text-align: right;
  }
  
  .logo {
    text-align: left;
    color: #00345c;
  }
  
  .links {
    display: inline-block;
    margin-top: 0px;
    padding: 8px;
    margin-right: 20px;
    color: #00345cd0;
  }
  
  .center {
    margin: auto;
    max-width: 80%;
    text-align: justify;
  }
  
  .content {
    margin: auto;
    max-width: 80%;
    text-align: center;
  }
  
  .content button {
    min-width: 75px;
    max-width: max-content;
    height: 25px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #adadad88;
  }